@model OnlineTicariOtomasyonMvc.Models.Siniflar.Cari

<div class="pop-up">
    <div id="small-dialog2" class="mfp-hide book-form">
        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Kayıt Olma Formu</h3>
                <div class="login-agileits-top">
                    <form action="#" method="post">
                        <input type="text" class="name" name="CariAd" Placeholder="Adınızı giriniz" required="" />
                        <input type="text" class="name" name="CariSoyad" Placeholder="Soyadınızı giriniz" required="" />
                        <input type="text" class="name" name="CariSehir" Placeholder="Yaşadığınız şehiri giriniz" required="" />
                        <input type="email" class="email" name="CariMail" Placeholder="E-Posta adresinizi giriniz." required="" />
                        <input type="password" class="password" name="CariSifre" Placeholder="Şifrenizi giriniz." required="" />
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları okudum, <a href="#">kabul ediyorum.</a></label>
                        </div>
                        <input type="submit" value="Kayıt Ol!">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>